<template>
	<div id="root-app">
		<div id="input">
			<label for="numWordsBox">numWords:</label>
			<input type="number" id="numWordsBox" v-model="numWords">
			<br>
			<label for="minLengthBox">minLength:</label>
			<input type="number" id="minLengthBox" v-model="minLength">
			<br>
			<label for="maxLengthBox">maxLength:</label>
			<input type="number" id="maxLengthBox" v-model="maxLength">
			<br>
			<label for="wordFileInput">wordFile:</label>
			<input type="file" id="wordFileInput" v-model="wordFile">
			<br>
			<label for="separatorBox">separator:</label>
			<input type="text" maxlength="1" id="separatorBox" v-model="separator">
			<br>
			<button @click.prevent.stop="doIt">Generate</button>
		</div>
		<div id="result">{{ result }}</div>
	</div>
</template>

<script>
import Passwd from 'xkcd-password';
const pw = new Passwd();

export default {
	name: 'RootApp',
	data() {
		return {
			numWords: 4,
			minLength: 5,
			maxLength: 8,
			wordFile: '',
			separator: ' ',
			result: '',
		};
	},
	methods: {
		async doIt() {
			const result = await pw.generate({
				numWords: this.numWords,
				minLength: this.minLength,
				maxLength: this.maxLength,
				separator: this.separator,
			});
			this.result = result;
		}
	}
};
</script>

<style lang="stylus">
body
	margin 0
</style>
